@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --background-container: hsl(0, 0%, 100%);
    --background: hsl(212, 45%, 89%);
    --paragraph: hsl(220, 15%, 55%);
    --h1: hsl(218, 44%, 22%);
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
}

body{
    background-color: var(--background);
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.container{
    background: var(--background-container);
    margin: 0 1.5rem;
    padding: 1rem;
    max-width: 325px;
    border-radius: 20px;
    box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.2);
}
.qr__code img{
    width: 100%;
    border-radius: 10px;
}
.description{
    text-align: center;
    padding: 0.5rem 1rem;
}
.description h1{
    color: var(--h1);
    font-size: 23px;
}
.description p{
    color: var(--paragraph);
    margin-bottom: 1rem;
}
